@font-face {
  font-family: "DIN Alternate";
  src: url("@/assets/fonts/DINAlternate-Bold.rrf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DIN Alternate';
  src: url("@/assets/fonts/DINAlternate-Bold.rrf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url("@/assets/fonts/Inter-Regular.rrf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}